<html lang="en">
<head>
    <meta charset="utf-8">
    <title>eleciones 2019</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Eleciones 2019</h2>
		<img alt="Poster" id="poster" src="/imagenes/1.jpg">
		<img alt="Poster" id="poster" src="/imagenes/2.jpg">
		<img alt="Poster" id="poster" src="/imagenes/3.jpg">
		<img alt="Poster" id="poster" src="/imagenes/4.jpg">
		<img alt="Poster" id="poster" src="/imagenes/5.jpg">
       
</body>
</html>